---
import MainLayout from "../layouts/MainLayout.astro";
import "../styles/global.css";
import Card from "../components/Card.astro";
import { Image } from "astro:assets";
import localHeadshot from "../img/roosevelt_headshot_transparent.png";
---

<MainLayout title="Welcome to Astro.">
  <header class="py-5 bg-white">
    <div class="container px-5 pb-5 fade-to-color">
      <div class="row gx-5 align-items-center">
        <div>
          <!-- Header text content-->
          <div class="text-center">
            <div class="badge bg-gradient-primary-to-secondary text-white mb-4">
              <div class="text-uppercase">
                Design &middot; Development &middot; Management
              </div>
            </div>
            <div class="fs-3 fw-light text-muted">
              I can help your software development team
            </div>
            <h1 class="display-3 fw-bolder mb-5">
              <span class="text-gradient d-inline fade-to-color"
                >Bring your project to life</span
              >
            </h1>
            <div class="d-grid gap-3 d-sm-flex justify-content-center mb-3">
              <a
                class="btn btn-primary btn-lg px-5 py-3 me-sm-3 fs-6 fw-bolder"
                href="/resume">Resume</a
              >
              <a
                class="btn btn-outline-dark btn-lg px-5 py-3 fs-6 fw-bolder"
                href="/projects">Projects</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
  <!-- About Section-->
  <section class="bg-white py-3">
    <div class="container px-5">
      <div class="row gx-5 justify-content-center">
        <div class="col-xxl-8">
          <div class="text-center my-3">
            <h2 class="display-5 fw-bolder">
              <span class="text-gradient d-inline fade-to-color">About Me</span>
            </h2>
            <p class="lead fw-light mb-2">Hi, I'm Roosevelt Scaggs.</p>
            <p class="text-muted">
              I am a computer scientist with numerous passions including but not
              limited to:<br />
              teaching, web development, software design, and media production.<br
              />
              <br />
              In my free time I like to bike, travel, try new foods, and tinker with
              my homelab equipment.<br /><br />
            </p>
            <div class="d-flex justify-content-center fs-2 gap-4 fade-to-color">
              <a
                class="text-gradient"
                href="https://linkedin.com/in/roosevelt-scaggs"
                ><i class="bi bi-linkedin"></i></a
              >
              <a class="text-gradient" href="https://github.com/rooseveltscaggs"
                ><i class="bi bi-github"></i></a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</MainLayout>

<style>
  @keyframes change-color {
    from {
      filter: grayscale(100%);
    }
    to {
      filter: grayscale(0%);
    }
  }

  .fade-to-color {
    filter: grayscale(100%);
    animation-name: change-color;
    animation-delay: 0.25s;
    animation-duration: 2s;
    animation-fill-mode: forwards;
  }
</style>
