---
// interface Props {
//   title: string;
//   body: string;
//   href: string;
// }
const { badgeText } = Astro.props;
const sampleColor = "red";
const themeMappings = {
  Angular: "#df0131",
  React: "#06a9ec",
  "D3.js": "#f5854b",
  PostgreSQL: "#336691",
  MSSQL: "#ffb901",
  Docker: "#0099c3",
  Jenkins: "#325061",
  Git: "#f15132",
  Bash: "#000101",
  Express: "#3e873c",
  "Node.js": "#3e873c",
  Java: "#f8981d",
  Flask: "#575757",
  Python: "#3977a4",
  Javascript: "#e5a027",
  ".NET Core": "#5a2d91",
  EC2: "#ff9800",
  Typescript: "#3179c7",
  Nginx: "#009739",
  "C#": "#803689",
  IIS: "#4baae9",
  Access: "#b02235",
  Sequelize: "#2578bf",
  "Spring Boot": "#5fb833"
};

const foregroundColor = themeMappings[badgeText];
const backgroundColor = "white";
---

<span class="badge fw-bold mb-1 me-1 active">{badgeText}</span>
<!-- <span class="badge bg-danger rounded-pill text-white fw-bold">Angular</span> -->

<style define:vars={{ foregroundColor, backgroundColor }}>
  .badge {
    font-size: 0.8rem;
    border-radius: 50rem !important;
    border: 1px solid;

    /* border-color: red; */
    /* color: red; */
    /* background-color: white; */
    border-color: var(--foregroundColor);
    color: var(--foregroundColor);
    background-color: var(--backgroundColor);
  }

  .active {
    color: var(--backgroundColor);
    background-color: var(--foregroundColor);
  }

  /* .inactive {
        border-color: red;
        color: red;
        background-color: white;
    } */
</style>
